.Board {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: #E6F9D4;
    width: 1660px;
    max-width: 1660px;
    min-height: 900px;
    margin-top: 20px;
    padding: 40px;

    &_btn {
        background-image: url("/files/img/cross.png");
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        order: 2;
        width: 100px;
        height: 100px;
        background-color: #61F1DD;
        margin-top: 10px;
        margin-bottom: 40px; 
        border-radius: 50%;
        transition: 0.2s;

        &:active {
            transform: scale(0.90);
            box-shadow: 0 2px 15px 0 rgba(0,0,0,0.3);
        }

        &:hover {
            cursor: pointer;
            background-color: darken(#61F1DD, 4%);
            box-shadow: 0 8px 15px 0 rgba(0,0,0,0.3);
        }
    }

    &_grid {
        padding-left: 40px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 0;
        width: 90%;
    }

}